[submodule "Eeyore/vendor/spdlog"]
	path = Eeyore/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Eeyore/vendor/GLFW"]
	path = Eeyore/vendor/GLFW
	url = https://github.com/spatulaG/glfw
	 